version: '3.9'

services:
  doc-search-migration:
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: ./init-infrastructure
    networks:
      - doc-search-net
    env_file:
      - '.env'

  doc-search:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - doc-search-migration
    networks:
      - doc-search-net
    ports:
      - '2892:2892'
    env_file:
      - '.env'

  opensearch:
    image: opensearchproject/opensearch:2.18.0
    restart: unless-stopped
    networks:
      - doc-search-net
    ports:
      - '9200:9200'
      - '9600:9600'
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_URL=https://0.0.0.0:9200
      - OPENSEARCH_DEFAULT_INDEX=common-folder
      - OPENSEARCH_USERNAME=admin
      # TODO: set secure password
      - OPENSEARCH_PASSWORD=admin
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=admin
    volumes:
      - 'opensearch-vol-1:/usr/share/opensearch/data'

  dashboards:
    image: opensearchproject/opensearch-dashboards:2.18.0
    restart: unless-stopped
    depends_on:
      - opensearch
    networks:
      - doc-search-net
    ports:
      - '5601:5601'
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch:9200"]'
      OPENSEARCH_USERNAME: 'admin'
      OPENSEARCH_PASSWORD: 'admin'

  redis:
    image: redis:latest
    restart: on-failure
    networks:
      - doc-search-net
    ports:
      - '6379:6379'
    environment:
      REDIS_USER: 'redis'
      REDIS_PASSWORD: 'redis'
      REDIS_USER_PASSWORD: 'redis'

  jaeger:
    image: jaegertracing/all-in-one:latest
    restart: unless-stopped
    networks:
      - doc-search-net
    ports:
      - '4317:4317'
      - '4318:4318'
      - '16686:16686'

  loki:
    image: grafana/loki:latest
    restart: unless-stopped
    command:
      - '-config.file=/etc/loki/local-config.yaml'
    networks:
      - doc-search-net
    ports:
      - '3100:3100'

networks:
  doc-search-net:
    name: doc-search-net
    driver: bridge

volumes:
  opensearch-vol-1:
    driver: local
